
@{
    ViewBag.Title = "Example";
}

<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p>Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with </div>
    <div class="preview2secondLevel2">more style element</div>
    <h1>Hello World</h1>
</div>

<style>
    .preview {
        background-color:orange
    }
    .preview {
        width:300px;
    }
    .preview2 {
        background-color:mediumseagreen
    }
    .preview2secondLevel {
        font-weight:bolder
    }
    .preview2secondLevel {
        font-size: x-large
    }
    .preview2secondLevel2 {
        font-weight: bolder
    }

    .preview2secondLevel2 {
        font-size: x-large
    }
    .preview {
        color:blue
    }

    p {
        color:white
    }
    h1{
        color:white
    }
    h1{
        font-size:x-large
    }
</style>
<h2>Example</h2>

